$메인칼라 : #ff0000;

// 애니메이션 시작 때 적용할 CSS
.wow-enter {
  opacity: 0;
}
// 애니메이션 동작 때 적용할 CSS
.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}

.red {
  color: $메인칼라;
}

@mixin myAlert() {
  background: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.my-alert {
  @include myAlert();
}
.my-alert p {
  margin-bottom: 0;
}

.my-alert-yellow {
  @extend .my-alert; // .my-alert에 있는 모든 속성을 붙여 넣어주세요
  background: #ffe591;
}



// div.container h4 {
//   color : blue;
// }
// div.container p {
//   color: green;
// }

// div.container {
//   h4 {
//     color : blue;
//   }
//   p {
//     color: green;
//   }
// }